@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import "tailwindcss";

@theme{
  --color-blue-primary: #1e3a8a;
  --color-blue-secondary: #3b82f6;
  --color-orange-primary: #f97316;
}

body {
  font-family: 'Inter', sans-serif;
}